
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono-webfont.eot');
  src: url('DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansMono-webfont.woff') format('woff'),
       url('DejaVuSansMono-webfont.ttf') format('truetype'),
       url('DejaVuSansMono-webfont.svg#DejaVuSansMonoBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono-Oblique-webfont.eot');
  src: url('DejaVuSansMono-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansMono-Oblique-webfont.woff') format('woff'),
       url('DejaVuSansMono-Oblique-webfont.ttf') format('truetype'),
       url('DejaVuSansMono-Oblique-webfont.svg#DejaVuSansMonoOblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono-Bold-webfont.eot');
  src: url('DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansMono-Bold-webfont.woff') format('woff'),
       url('DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
       url('DejaVuSansMono-Bold-webfont.svg#DejaVuSansMonoBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono-BoldOblique-webfont.eot');
  src: url('DejaVuSansMono-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansMono-BoldOblique-webfont.woff') format('woff'),
       url('DejaVuSansMono-BoldOblique-webfont.ttf') format('truetype'),
       url('DejaVuSansMono-BoldOblique-webfont.svg#DejaVuSansMonoBoldOblique') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans-webfont.eot');
  src: url('DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSans-webfont.woff') format('woff'),
       url('DejaVuSans-webfont.ttf') format('truetype'),
       url('DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans-Oblique-webfont.eot');
  src: url('DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSans-Oblique-webfont.woff') format('woff'),
       url('DejaVuSans-Oblique-webfont.ttf') format('truetype'),
       url('DejaVuSans-Oblique-webfont.svg#DejaVuSansOblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans-Bold-webfont.eot');
  src: url('DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSans-Bold-webfont.woff') format('woff'),
       url('DejaVuSans-Bold-webfont.ttf') format('truetype'),
       url('DejaVuSans-Bold-webfont.svg#DejaVuSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans-BoldOblique-webfont.eot');
  src: url('DejaVuSans-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSans-BoldOblique-webfont.woff') format('woff'),
       url('DejaVuSans-BoldOblique-webfont.ttf') format('truetype'),
       url('DejaVuSans-BoldOblique-webfont.svg#DejaVuSansBoldOblique') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  src: url('DejaVuSansCondensed-webfont.eot');
  src: url('DejaVuSansCondensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansCondensed-webfont.woff') format('woff'),
       url('DejaVuSansCondensed-webfont.ttf') format('truetype'),
       url('DejaVuSansCondensed-webfont.svg#DejaVuSansCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  src: url('DejaVuSansCondensed-Oblique-webfont.eot');
  src: url('DejaVuSansCondensed-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansCondensed-Oblique-webfont.woff') format('woff'),
       url('DejaVuSansCondensed-Oblique-webfont.ttf') format('truetype'),
       url('DejaVuSansCondensed-Oblique-webfont.svg#DejaVuSansCondensedOblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  src: url('DejaVuSansCondensed-Bold-webfont.eot');
  src: url('DejaVuSansCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansCondensed-Bold-webfont.woff') format('woff'),
       url('DejaVuSansCondensed-Bold-webfont.ttf') format('truetype'),
       url('DejaVuSansCondensed-Bold-webfont.svg#DejaVuSansCondensedBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  src: url('DejaVuSansCondensed-BoldOblique-webfont.eot');
  src: url('DejaVuSansCondensed-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSansCondensed-BoldOblique-webfont.woff') format('woff'),
       url('DejaVuSansCondensed-BoldOblique-webfont.ttf') format('truetype'),
       url('DejaVuSansCondensed-BoldOblique-webfont.svg#DejaVuSansCnBdOb') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVuSerif-webfont.eot');
  src: url('DejaVuSerif-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerif-webfont.woff') format('woff'),
       url('DejaVuSerif-webfont.ttf') format('truetype'),
       url('DejaVuSerif-webfont.svg#DejaVuSerifBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVuSerif-Italic-webfont.eot');
  src: url('DejaVuSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerif-Italic-webfont.woff') format('woff'),
       url('DejaVuSerif-Italic-webfont.ttf') format('truetype'),
       url('DejaVuSerif-Italic-webfont.svg#DejaVuSerifItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVuSerif-Bold-webfont.eot');
  src: url('DejaVuSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerif-Bold-webfont.woff') format('woff'),
       url('DejaVuSerif-Bold-webfont.ttf') format('truetype'),
       url('DejaVuSerif-Bold-webfont.svg#DejaVuSerifBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVuSerif-BoldItalic-webfont.eot');
  src: url('DejaVuSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerif-BoldItalic-webfont.woff') format('woff'),
       url('DejaVuSerif-BoldItalic-webfont.ttf') format('truetype'),
       url('DejaVuSerif-BoldItalic-webfont.svg#DejaVuSerifBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVuSerifCondensed-webfont.eot');
  src: url('DejaVuSerifCondensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerifCondensed-webfont.woff') format('woff'),
       url('DejaVuSerifCondensed-webfont.ttf') format('truetype'),
       url('DejaVuSerifCondensed-webfont.svg#DejaVuSerifCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVuSerifCondensed-Italic-webfont.eot');
  src: url('DejaVuSerifCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerifCondensed-Italic-webfont.woff') format('woff'),
       url('DejaVuSerifCondensed-Italic-webfont.ttf') format('truetype'),
       url('DejaVuSerifCondensed-Italic-webfont.svg#DejaVuSerifCondensed') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVuSerifCondensed-Bold-webfont.eot');
  src: url('DejaVuSerifCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerifCondensed-Bold-webfont.woff') format('woff'),
       url('DejaVuSerifCondensed-Bold-webfont.ttf') format('truetype'),
       url('DejaVuSerifCondensed-Bold-webfont.svg#DejaVuSerifCondensedBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVuSerifCondensed-BoldItalic-webfont.eot');
  src: url('DejaVuSerifCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSerifCondensed-BoldItalic-webfont.woff') format('woff'),
       url('DejaVuSerifCondensed-BoldItalic-webfont.ttf') format('truetype'),
       url('DejaVuSerifCondensed-BoldItalic-webfont.svg#DejaVuSerifCnBdIt') format('svg');
  font-weight: bold;
  font-style: italic;
}
